extends layout

block content
    h3 Application submitted!
    p The signature for your mail-in-ballot has been changed. Local election authorities will verify it again.
    p <a href="https://www.vote.org/">Learn more about voting.</a>
